.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}

.modal-content {
	background-color: #E7DCD2;
	color: #425351;
}

.modal-header {
	border-bottom: 1px solid #435451
}
  .modal-header .close {
    padding: 20px;
  }
.modal-footer {
	border-top: 1px solid #435451
}

.cart-link {
  cursor: pointer;
}

label {
  margin-bottom: .1rem;
}
.form-group {
  margin-bottom: .7rem;
}