.cart-link {
  position: relative;
}
  .cart-link .counter {
    position: absolute;
    width: 16px;
    left: 10px;
    padding-top: 6px;
    color: #435451;
    font-size: 13px;
    transform: rotate(-5deg);
  }

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}

.modal-content {
	background-color: #E7DCD2;
	color: #425351;
}

.modal-header {
	border-bottom: 1px solid #435451
}
  .modal-header .close {
    padding: 20px;
  }
.modal-footer {
	border-top: 1px solid #435451
}

.cart-link {
  cursor: pointer;
}

.cart__form label {
  margin-bottom: .1rem;
}
.cart__form .form-group {
  margin-bottom: .7rem;
}  

.order-list .quantity {
  display: inline-block;
  width: 25px;
  text-align: center;
}
.order-list .item .color {
  display: inline-block;
  width: 12px;
  height: 12px;
}
.order-list .item .color.yellow {
  background-color: #fcdf00;
}
.order-list .item .color.darkgreen {
  background-color: #4e774e;
}
.order-list .item .color.black {
  background-color: black;
}
.order-list .item .color.transparent {
  display: none;
}

.cartModal .errorMessage {
  height: 100%;
  width: 100%;
  color: red;
}


.cart-link--animation {
  display: block;
  -webkit-animation: heartbeat 0.6s; /* Safari 4+ */
  -moz-animation: heartbeat 0.6s; /* Fx 5+ */
  -o-animation: heartbeat 0.6s; /* Opera 12+ */
  animation: heartbeat 0.6s;
}
@keyframes heartbeat {
    0%   {transform: scale(1);}
    25%  {transform: scale(1.8);}
    50%  {transform: scale(1);}
    75%  {transform: scale(1.65);}
    100% {transform: scale(1);}
}