.test .answers {
	list-style-type: none;
}
	.test .answers .answer {
		width: 100%;
		max-width: 250px;
		word-wrap: break-word;
		white-space: normal;
		padding: 10px 4px;
	}

@media screen and (max-width: 575px) {
	.test .question {
		font-size: 1.4em;
		line-height: 1.05em;
	}
	.test button {
		white-space: normal;
		line-height: 1.2em;
	}
}