.about {
	padding-left: 25px;
}

.about p {
	font-size: 16px;
}

.about .title {
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

@media screen and (max-width: 767px) {
	.about p {
		font-size: 11px;
		line-height: 1.15em;
	}
	.about .title {
		font-size: 15px;
	}
}