.about {
	padding-left: 25px;
}

.about p {
	font-size: 18px;
}

.about .title {
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

@media screen and (max-width: 767px) {
	.about p {
		font-size: 13px;
		line-height: 1.2em;
	}
	.about .title {
		font-size: 17px;
	}
}