.home .slogan {
	font-family: 'Roboto';
	font-size: 22px;
	line-height: 26px;
}
	.home .slogan .title {
		font-style: italic;
		font-weight: 700;
		text-transform: uppercase;
		display: block;
	}

.companyForm .label {
	margin-bottom: .1rem;
}
.companyForm .form-group {
	margin-bottom: 0.6rem;
}

@media screen and (max-width: 575px) {
	.home .slogan {
		font-size: 16px;
		line-height: 18px;
	}
	.home .slogan .title {
		font-size: 20px;
	}
}