.fp-tableCell {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header, #footer{
    position:fixed;
    height: 70px;
    display:block;
    width: 100%;
    z-index: 9;
}
#header{
    top: 0px;
}
    #header .logo {
        width: 125px;
    }
    #header .overlay-menu ul {
        font-size: 24px;
    }
#footer{
    bottom: 0px;
}

#homeSection {
    background: url('/img/home.jpg') center no-repeat;
    background-size: cover;
}
    #homeSection .fp-tableCell {
        background-color: rgba(67, 84, 81, 0.80);
    }

#aboutSection {
    background: url('/img/about.jpg') center no-repeat;
    background-size: cover;
}
    #aboutSection .fp-tableCell {
        background-color: rgba(67, 84, 81, 0.80);
    }

#detailsSection {
    background: url('/img/home.jpg') center no-repeat;
    background-size: 120%;
    background-position: 0% 60%;
    animation: snake-bg 22s infinite;
    /*background-attachment: fixed;*/
}
@keyframes snake-bg {
 0% { background-position: 0% 60%; }
 50% { background-position: 120% 60%; }
 100% { background-position: 0% 60%; }
}