.fp-tableCell {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header, #footer{
    position:fixed;
    height: 70px;
    display:block;
    width: 100%;
    z-index: 9;
}
#header{
    top: 0px;
}
    #header .logo {
        width: 125px;
    }
    #header .overlay-menu ul {
        font-size: 24px;
    }
#footer{
    bottom: 0px;
}