@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #E7DCD2;
  background-color: #425351;
}

a {
  color: #E7DCD2;
  cursor: pointer;
  border-bottom: 1px dashed #E7DCD2;
}
  a:hover {
    color: #E7DCD2;
    cursor: pointer;
    border-bottom: 1px solid #E7DCD2;
    text-decoration: none!important;
  }
  .no-decoration {
    border: 0 !important;
    border-bottom: 0 !important;
  }
    .no-decoration:hover {
      border: 0 !important;
      border-bottom: 0 !important;
    }

button {
  cursor: pointer;
}

h1, h2 {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
}

section .container {
  margin-bottom: -40px;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #425351;
  z-index: 99999999;

  display: flex;
  align-items: center;
  justify-content: center;
}
.hide {
  display: none;
}