.slider {
	margin-bottom: -30px;
}
	.slider .current-item {
		position: relative;
	}
		.slider .current-item .controls {
			position: absolute;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
			.slider .current-item .controls .control .icon {
				font-size: 75px;
			}

/*slider current image*/
.slider .image-wrapper {
	position: relative;
}
.slider .image {
	display: inline-block;
	width: 100%;
	max-width: 20rem;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1rem;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 0 1.2em 5rem -1rem rgba(0,0,0,0.7);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}
	.slider .image:hover {
		transform: translateY(-0.5rem) scale(1.0125);
	}
	.slider .image img {
		width: 100%;
	}
.slider .image-underlay {
	width: 100%;
	max-width: 255px;
	margin: 1rem 0;
}
	.slider .image-underlay:after {
	  content: "";
	  display: block;
	  padding-bottom: 100%;
	}

/*color buttons*/
.slider .colors .color {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-bottom: none;
}
.slider .colors .color.yellow {
	background-color: #fcdf00;
}
.slider .colors .color.darkgreen {
	background-color: #4e774e;
}
.slider .colors .color.black {
	background-color: black;
}
.slider .colors .color.current {
	border: 5px solid white;
}

.item-info p {
	text-indent: 25px;
}

.slider .items {
	display: flex;
	align-items: center;
	justify-content: center;
}
	.slider .items .item {
		overflow: none;
		opacity: 0.75;
	}
		.slider .items .item.current {
			text-decoration: underline;
			transform: scale(1.2);
			opacity: 1;
		}
		.slider .items .item .icon {
			float: none;
		}

@media screen and (max-width: 575px) {
	.slider .items {
		display: block;
	}
		.slider .items .item {
			overflow: hidden;
		}
			.slider .items .item .icon {
				float: left;
			}
}

.slider .items .item {
	cursor: pointer;
}
	.slider .items .item:hover .name {
		text-decoration: underline;
	}
.slider .items-mobile .item .name {
	font-size: 12px;
	line-height: 1.3em;
}

.fp-controlArrow {
	transform: scale(0.5);
}

/*MODALS*/
/*=== parts*/
.partsModal .parts .part .photo {
	max-width: 80px;
	padding-right: 10px;
	border-radius: 50%;
}

/*=== image*/
.imageModal .image {
	width: 100%;
}
	.imageModal .image img {
		width: 100%;
		cursor: pointer;
	}