.slider {
	margin-bottom: -30px;
}

.slider .current-item .image {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	box-shadow: 0 1.2em 5rem -1rem rgba(0,0,0,0.7);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}
	.slider .current-item .image:hover {
		transform: translateY(-0.5rem) scale(1.0125);
	}

.item-info p {
	text-indent: 25px;
}

.slider .items {
	display: flex;
	align-items: center;
	justify-content: center;
}
	.slider .items .item {
		overflow: none;
	}
		.slider .items .item .icon {
			float: none;
		}

@media screen and (max-width: 575px) {
	.slider .items {
		display: block;
	}
		.slider .items .item {
			overflow: hidden;
		}
			.slider .items .item .icon {
				float: left;
			}
}

.slider .items .item {
	cursor: pointer;
}
	.slider .items .item:hover .name {
		text-decoration: underline;
	}
.slider .items-mobile .item .name {
	font-size: 12px;
	line-height: 1.3em;
}

.fp-controlArrow {
	transform: scale(0.6);
}